<body>
<h1>Learning Rails</h1>
<div>
<%= link_to "Ours Apps" , "/apps"%>
<%= link_to "Contact Us", "/contacts"%> 
<h1> welcome to my home page</h1>
<h1> Contact Us</h1>
</div>
<div>
<p>Today we will learn Rails!</p>
</div>
</body>